<div>
  <div class="card p-3">

    <div class="d-flex flex-wrap flex-row justify-content-around gap-4">

          <a class="text-decoration-none"  href="/explore/researcherprofiles">
            <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">
              <i  class="d-block mb-2 fas fa-users fa-3x"  style="color: #ec7803"></i>
              <div class="counters-label text-center">
                Personal de Investigación
              </div>
            </div>
          </a>
      <a class="text-decoration-none"  href="/explore/fundings_and_projects">
        <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">
          <i  class="d-block mb-2 fas fa-lightbulb fa-3x"  style="color: #ec7803"></i>
          <div class="counters-label text-center">
            Proyectos
          </div>
        </div>
      </a>
      <a class="text-decoration-none"  href="/communities/0e9c610e-7e14-40f6-b782-36b5dbcc371a">
        <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">
          <i  class="d-block mb-2 fas fa-sitemap fa-3x"  style="color: #ec7803"></i>
          <div class="counters-label text-center">
            Unidad Académica
          </div>
        </div>
      </a>


    </div>

<!--    <div class="d-flex flex-wrap flex-row justify-content-around gap-4">-->



<!--      <a class="text-decoration-none"  href="explore/researcherprofiles">-->
<!--        <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">-->
<!--          <i  class="d-block mb-2 fas fa-file fa-3x "  style="color: #ec7803"></i>-->
<!--          <div class="counters-label text-center">-->
<!--            Publicaciones-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a class="text-decoration-none"  href="explore/researcherprofiles">-->
<!--        <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">-->
<!--          <i  class="d-block mb-2 fas fa-lightbulb fa-3x"  style="color: #ec7803"></i>-->
<!--          <div class="counters-label text-center">-->
<!--            Datos de Investigación-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->
<!--      <a class="text-decoration-none"  href="explore/researcherprofiles">-->
<!--        <div class="d-flex flex-wrap flex-column justify-content-between align-items-center gapy-1 counters-section">-->
<!--          <i  class="d-block mb-2 fas fa-users fa-3x"  style="color: #ec7803"></i>-->
<!--          <div class="counters-label text-center">-->
<!--           Divulgación Cientifica-->
<!--          </div>-->
<!--        </div>-->
<!--      </a>-->


<!--    </div>-->
  </div>
</div>
