<div class="container">
  <div class="row">
    <h2>¿Que es Sic?</h2>
<p>
  El Sistema de Información Científica SIC-USACH es una plataforma que tiene por objetivo integrar a toda la comunidad investigadora de la Universidad de Santiago de Chile para transparentar la información relacionada a proyectos de investigación. Entre la información se encuentra el perfil de la persona investigadora, la facultad a la que pertenece, la agencias patrocinante de su proyecto, colaboradores y los resultados de investigación relacionados al proyecto, entre ellas, publicaciones,  protecciones, libros, datos de investigación y actividades de divulgación científica.
</p>
  </div>
</div>
