<div class="background-image-container mt-ncs">

  <div class="container_" style="background-color: #BFE5E5 !important;">

    <div class="jumbotron jumbotron-fluid" style="border-bottom: 2px #ec7803 solid">

      <ds-themed-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-themed-text-section>
    </div>
  </div>
<!--  <picture class="background-image">-->
<!--&lt;!&ndash;    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">&ndash;&gt;-->
<!--&lt;!&ndash;    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">&ndash;&gt;-->
<!--    <img alt="" [src]="'assets/dspace/images/Home2.jpg'"/>&lt;!&ndash; without the []="''" Firefox downloads both the fallback and the resolved image &ndash;&gt;-->
<!--  </picture>-->
<!--  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>-->
</div>

<ng-template #dsDefaultHomeNews>
  <div class="d-flex justify-content-center">
    <div>
      <h1 class="display-5" style="color: #009a96; font-weight: 900">SISTEMA DE INFORMACIÓN CIENTÍFICA USACH</h1>
    </div>
  </div>



</ng-template>
