<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <ds-themed-text-section *ngIf="hasHomeNewsMetadata; else dsDefaultHomeNews" [sectionId]="'site'" [textRowSection]="homeNewsSection"
                              [site]="(site$ | async)"></ds-themed-text-section>
    </div>
  </div>
  <picture class="background-image">
<!--    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">-->
<!--    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">-->
    <img alt="" [src]="'assets/dspace/images/Home2.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
<!--  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">@inspiredimages</a></small>-->
</div>

<ng-template #dsDefaultHomeNews>
  <div class="d-flex flex-wrap">
    <div>
      <h1 class="display-5">SISTEMA DE INFORMACIÓN CIENTÍFICA USACH</h1>
    </div>
  </div>



</ng-template>
